* {
    box-sizing: border-box;
}

body {
    background-color: $light-grey;
    font-family: "Raleway", sans-serif;

    a {
        text-decoration: none;
    }
}

.container {
    margin: 32px 16px;
    cursor: default;
}

.page-holder {
    height: 100vh;
}

// ********** MEDIA QUERIES **********

// *** DESKTOP SIZE ***
@media only screen and (min-width: 900px) {
    .container {
        margin: 48px 48px 0;
    }
}