button {
    outline: none;
}

.mobile-btn-add {
    @include flex(row, space-between, center);
    @include card;
    color: $grey;
    padding: 20px 24px;
}

.btn-holder {
    display: flex;
    justify-content: flex-end;
    margin: 200px 0 100px;
}

.btn-login {
    @include btnBox(240px, 48px, $green);

    &:hover {
        opacity: 1;
    }
}

.btn-create-account {
    @include btnBox(240px, 48px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-add-sm {
    @include btnBox(88px, 32px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-add-md {
    @include btnBox(168px, 48px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-add-lg {
    @include btnBox(240px, 48px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-confirm-md {
    @include btnBox(168px, 48px, $green);

    &:hover {
        opacity: 1;
    }
}

.btn-confirm-lg {
    @include btnBox(240px, 48px, $green);

    &:hover {
        opacity: 1;
    }
}

// ********** MEDIA QUERIES **********

// *** MOBILE SIZE ***
@media only screen and (max-width: 900px) {}

// *** DESKTOP SIZE ***
@media only screen and (min-width: 900px) {
    .mobile-btn-add {
        display: none;
    }

}