.mobile-btn-add {
    @include flex(row, space-between, center);
    @include card;
    color: $grey;
    padding: 20px 24px;
}

.btn-holder {
    @include flex(row, flex-end, center);
    margin: 200px 0 100px;
}

.btn-holder-modal {
    @include flex(row, flex-end, center);
    margin: 8px 0;
}

.btn-login {
    @include btnBox(240px, 48px, $green);

    &:hover {
        opacity: 1;
    }
}

.btn-create-account {
    @include btnBox(240px, 48px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-add-sm {
    @include btnBox(88px, 32px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-add-md {
    @include btnBox(168px, 48px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-add-lg {
    @include btnBox(240px, 48px, $light-blue);

    &:hover {
        opacity: 1;
    }
}

.btn-confirm-md {
    @include btnBox(168px, 48px, $green);

    &:hover {
        opacity: 1;
    }
}

.btn-confirm-lg {
    @include btnBox(240px, 48px, $green);

    &:hover {
        opacity: 1;
    }
}

.btn-holder-position {

    .btn-back-holder {
        @include flex(row, flex-start, center);
        margin: 8px 16px 40px;
        padding: 8px;
        font-size: 16px;
        font-weight: 500;

        a {
            color: $navy-blue;
            cursor: pointer;

            &:hover {
                color: $light-blue;
            }
        }
    }
}

// ********** MEDIA QUERIES **********

// *** MOBILE SIZE ***
@media only screen and (max-width: 900px) {}

// *** DESKTOP SIZE ***
@media only screen and (min-width: 900px) {
    .mobile-btn-add {
        display: none;
    }

    .btn-holder-position {
        @include flex(row, flex-end, center);

        .btn-back-holder {
            @include flex(row, center, center);
            width: 240px;
            margin: 0px;
        }
    }
}