.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .5s ease
}

.modal-backdrop {
    position: fixed;
    background-color: rgba(31, 37, 51, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(column, center, center);
    z-index: 999;


    .modal {
        background: $white;
        box-shadow: 0 0 6px 1px;
        overflow-x: auto;
        width: 500px;
        position: relative;
        border-radius: 5px;
    }

    .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 100%;
        font-weight: bold;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;

        &:hover {
            color: black;
        }
    }
}

// **** Modal Content ***
form {
    padding: 24px;

    h1 {
        font-size: 24px;
        line-height: 34px;
        color: $navy-blue;
        font-weight: bold;
        text-align: left;
        margin-bottom: 24px;
    }


    input[type="text"],
    select,
    textarea {
        background-color: $light-grey;
        border-radius: 5px;
        color: black;
        border: none;
        margin: 8px 0;
        padding: 1rem;
        width: 100%;
    }

    textarea {
        overflow-y: scroll;
        resize: none;
        height: 150px;
    }

    input[type="submit"] {
        @include btnBox(168px, 48px, $green);
        border: none;

        &:hover {
            opacity: 1;
        }
    }
}