.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity .5s ease
}

.modal-backdrop {
    position: fixed;
    background-color: rgba(31, 37, 51, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(column, center, center);
    z-index: 999;


    .modal {
        background: $white;
        box-shadow: 0 0 6px 1px;
        overflow: auto;
        // width: 92%;
        width: 345px;
        // width: 500px;
        position: relative;
        top: 16px;
        border-radius: 5px;

        .modal-top {
            @include flex(row, space-between, center);
            margin-bottom: 24px;

            .modal-close {
                color: #aaa;
                font-size: 100%;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                padding: 8px;

                &:hover {
                    color: black;
                }
            }
        }
    }


}

// *** DESKTOP SIZE ***
@media only screen and (min-width: 900px) {
    .modal {
        width: 500px;
    }
}